*,
*::before,
*::after {
  box-sizing: border-box;
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
  background-color: #e0e0e0;
}

.calculator-grid {
  width: 300px;
  background-color: #333;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  user-select: none;
}

.output {
  grid-column: 1 / -1;
  background-color: #222;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
  color: white;
  font-size: 2rem;
  text-align: right;
  border-radius: 10px;
  margin-bottom: 20px;
  min-height: 60px;
}

.calculator-grid button {
  background-color: #666;
  border: none;
  color: white;
  font-size: 1.5rem;
  margin: 5px;
  padding: 15px 0;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.calculator-grid button:hover {
 opacity:0.8;
}

.calculator-grid .btn-operation {
  background-color: #ff9500;
  color: white;
}
.btn-operation:hover{
  background-color: #ff9500;
  opacity:0.9;
}

.calculator-grid .btn-zero {
  grid-column: span 2;
}

.calculator-grid .btn-equals {
  grid-column: span 1;
  background-color: #ff9500;
}

.calculator-grid .previous-operand,
.calculator-grid .current-operand {
  overflow: hidden;
  word-break: break-all;
}

.calculator-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(60px, auto);
}

.calculator-grid .btn-clear,
.calculator-grid .btn-sign,
.calculator-grid .btn-percent {
  background-color: #a6a6a6;
}

.output .previous-operand {
  font-size: 1.2rem;
  opacity: 0.5;
}

.output .current-operand {
  font-size: 2.4rem;
}

.calculator-grid button {
  width: 100%;
  height: 100%;
}

.calculator-grid .btn-clear,
.calculator-grid .btn-sign,
.calculator-grid .btn-percent {
  font-size: 1.2rem;
}

@media (max-width: 350px) {
  .calculator-grid {
    width: 90%;
    grid-template-columns: repeat(4, 22%);
    justify-content: space-between;
  }
}
